@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@700&family=Poppins:wght@400;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  text-align: center;
  color: #495057;
  font-family: "JetBrains Mono", monospace;
  font-family: "Poppins", sans-serif;
}
main {
  max-width: 50rem;
  margin: 50px auto;
}

.heading {
  margin: 1.4rem 0;
  font-size: 2.4rem;
}
.contact-list {
  display: flex;
  flex-direction: column;
  gap: 2px;
  font-size: 1.8rem;
  margin-bottom: 1.4rem;
}
.items {
  display: grid;
  min-height: 3.6rem;
  grid-template-columns: 100px auto 50px;
  align-items: center;
  background: #c0eb75;
  padding: 0.6rem 1.2rem;
}

.items:hover {
  background-color: #d8f5a2;
  transition: all 0.2s;
}
.name {
  text-align: left;
}
.icon a {
  color: #495057;
}
/* \...........form.........../ */
form {
  display: grid;
  grid-template-columns: 2fr 2fr 1fr;
  gap: 0.3rem;
}
form input {
  border: none;
  outline: none;
  border: 1px solid #495057;
  font-size: 1.6rem;
  padding: 0.6rem 0.6rem;
  font-family: inherit;
}
input:focus,
input:active {
  background: #f1f3f5;
  color: #495057;
}
.btn {
  padding: 1.2rem 0.6rem;
  font-family: inherit;
  width: 100%;
  border: none;
  background: #a9e34b;
  font-weight: 600;
  border: 1px solid #5c940d;
}
.btn:hover {
  background: #5c940d;
  transition: all 0.2s;
}
